

h1 {
  font-size: 3.2em;
  font-weight: 600;
}
h2 {
  font-size: 2.5em;
  font-weight: 600;
}
h3 {
  font-size: 2em;
  font-weight: 500;
}
h4 {
  font-size: 1.7em;
  font-weight: 500;
}
h5 {
  font-size: 1.3em;
  font-weight: 400;
}
h6 {
  font-size: 1em;
  font-weight: 300;
}
pre {
  background-color: hsl(var(--blue-background));
  padding: 15px;
  margin: 5px 0;
  border-radius: 0.5em;
  border: 1px hsl(var(--border)) solid;
  width: 70%;
  /* border-color: ; */
}
p{
  color: hsl(240 4.9% 83.9%);
}